---

- name: Install gpg package
  apt:
    name: gnupg
    state: present
    update_cache: yes
    cache_valid_time: 3600

- name: 'Install Java 8 Key (also belongs to VLC): 0xc2518248eea14886'
  tags: debug
  apt_key:
    data: "{{ lookup('file', 'java_8.key') }}"
  register: java8_apt_key

- name: Add Java 8 repository
  apt_repository:
    repo: deb http://ppa.launchpad.net/webupd8team/java/ubuntu precise main

- apt:
    update_cache: yes
  when: java8_apt_key.changed

- name: Install debconf-utils
  apt:
    name: debconf-utils

- name: Read license
  shell: echo debconf shared/accepted-oracle-license-v1-1 select true | debconf-set-selections && touch /root/.oracle-license-seen
  args:
    creates: /root/.oracle-license-seen

- name: Accept license
  shell: echo debconf shared/accepted-oracle-license-v1-1 seen true | debconf-set-selections && touch /root/.oracle-license-accepted
  args:
    creates: /root/.oracle-license-accepted

- name: Install java installer
  apt: name={{ item }}
  with_items:
  - oracle-java8-installer
  - oracle-java8-set-default

- name: Install Java Cryptography Extension
  apt: name=oracle-java8-unlimited-jce-policy
  when: install_cryptography_extension|bool

- name: Check if Java keystore use default password
  command: keytool -list -keystore /usr/lib/jvm/java-8-oracle/jre/lib/security/cacerts -storepass {{ default_keystore_password }}
  register: keytool_list
  ignore_errors: yes
  changed_when: false
  no_log: true

- name: Set Java keystore password
  command: keytool -storepasswd -new {{ ca_certificates.password }} -storepass {{ default_keystore_password }} -keystore /usr/lib/jvm/java-8-oracle/jre/lib/security/cacerts 
  when: keytool_list is success
  no_log: true

- name: Add CA certificates to Java keystore
  java_cert:
    cert_alias: "{{ item.alias|default(omit) }}"
    cert_url: "{{ item.url|default(omit) }}"
    cert_path: "{{ item.path|default(omit) }}"
    keystore_path: /usr/lib/jvm/java-8-oracle/jre/lib/security/cacerts
    keystore_pass: "{{ ca_certificates.password }}"
    state: present
  with_items: "{{ ca_certificates.certificates }}"